@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Pretendard-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex flex-col items-center;
}

select {
  @apply p-4 outline-none border border-gray-300 my-1;
}
textarea {
  @apply outline-none border border-gray-300 my-1;
  width: 100%;
  height: 200px;
  resize: none;
  white-space: pre-line;
}

#root {
  @apply w-full max-w-screen-2xl;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  z-index: 100;
  top: 0;
  position: sticky;
  height: 50px;
  background-color: white;
}

.contentArea {
  white-space: pre-line;
  padding: 12px;
}
.bannerWrap {
  background-color: #616cec;
  height: 350px;
}
.bannerWrap h2 {
  font-family: "TAEBAEKmilkyway";
}

.empty {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty img {
  width: 150px;
}
.miniButton {
  width: 70px;
  height: 30px;
  background-color: #616cec;
  border-radius: 5px;
  color: white;
}
